:root {
    --color-header: #ffffff;
    --color-banner: #1A628A;
    --color-font-1: #000000;
    --color-font-2: #ffffff;
    --size-font-header: 1.1rem;
    --size-font-header-text: 1rem;
    --size-font-titulos: 1.4rem;
}